{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load user_filters %}
  <main role="main" class="container">
    <div class="row">
      <!-- Левый вспомогательный блок -->
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h3">
                  Об авторе
                </div> 
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted">
                  Я - поэт, зовусь Незнайка.<br>
                  От меня вам балалайка.
                </div>
              </li>
            </ul>                                               
          </div>                    
        </div>                
      </div>
      <!-- Тело страницы -->
      <div class="col-md-9">
        <div class="card-body">                    
          <div class="card-text">
            <div class="h3">
              Привет!
            </div> 
            <p>Меня зовут Андрей, мне 30 лет, работаю юристом в ритейле (одна из федеральных сетей).<br>
              В октябре-ноябре 2020 в рамках программы Персональный цифровой сертификат прошел интенсив по Python и как-то затянуло.<br>
              С тех пор планомерно изучаю все, что связано с back-end разработкой.<br>
              По итогам курса планирую, как минимум, создать систему учета рабочих задач и автоматизировать ряд отчетов для отдела на нынешнем месте, как максимум - сменить профессию, а возможно и то и другое.</p>
          </div>                    
        </div>                
      </div>            
    </div>        
  </main>
{% endblock %} 